*.exe
*.exe.stackdump
*.gcda
*.gch
*.gcno
*.gcov
*.la
*.lo
*.log
*.o
*.trs
*~
.deps
.dirstamp
.libs
.pc/
configure
compile
depcomp
missing
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.guess
/config.log
/config.status
/config.sub
/install-sh
/libtool
/libtpms.pc
/libtpms-*.tar.gz
/ltmain.sh
/stamp-h1
/test-driver
/m4/*
!m4/ax_check_define.m4
!m4/ax_check_linker_flag.m4
/man/man3/*.3
!man/man3/TPMLIB_GetState.3
!man/man3/TPMLIB_SetDebugLevel.3
!man/man3/TPMLIB_SetDebugPrefix.3
!man/man3/TPMLIB_Terminate.3
!man/man3/TPM_Free.3
!man/man3/TPM_IO_Hash_Data.3
!man/man3/TPM_IO_Hash_End.3
!man/man3/TPM_IO_TpmEstablished_Reset.3
!man/man3/TPM_Realloc.3
/tests/NVChip
/tests/base64decode
/tests/fuzz
/tests/freebl_sha1flattensize
/tests/nvram_offsets
/tests/tpm2_createprimary
/tests/tpm2_pcr_read
/tests/tpm2_selftest
/debian/*debhelper*
/debian/*substvars
/debian/autoreconf.*
/debian/files
/debian/libtpms-dev
/debian/libtpms0
/debian/tmp
