# $Id: vbox_accel.te $
## @file
# VirtualBox Guest Additions - selinux policy for Redhat/Fedora guests
#

#
# Copyright (C) 2006-2023 Oracle and/or its affiliates.
#
# This file is part of VirtualBox base platform packages, as
# available from https://www.virtualbox.org.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation, in version 3 of the
# License.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, see <https://www.gnu.org/licenses>.
#
# SPDX-License-Identifier: GPL-3.0-only
#

module check 1.0;

require {
        type xserver_misc_device_t;
        type xdm_t;
        class chr_file { open read write };
}

#============= xdm_t ==============
allow xdm_t xserver_misc_device_t:chr_file { open read write };
