[Unit]
Description=VirtualBox Test Execution Service
SourcePath=/opt/validationkit/linux/vboxtxs

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/opt/validationkit/linux/vboxtxs start
ExecStop=/opt/validationkit/linux/vboxtxs stop

[Install]
WantedBy=multi-user.target

