<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Disabled</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>Label</key>
  <string>org.virtualbox.vboxballoonctrl</string>
  <key>Program</key>
  <string>/Applications/VirtualBox.app/Contents/MacOS/VBoxBalloonCtrl</string>
</dict>
</plist>
