<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>              <string>APPL</string>
    <key>CFBundleSignature</key>                <string>VBOX</string>
    <key>CFBundleDevelopmentRegion</key>        <string>English</string>
    <key>CFBundleIdentifier</key>               <string>org.virtualbox.app.VirtualBox</string>
    <key>CFBundleName</key>                     <string>VirtualBox</string>
    <key>CFBundleExecutable</key>               <string>VirtualBox</string>
    <key>CFBundleVersion</key>                  <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>CFBundleShortVersionString</key>       <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>CFBundleGetInfoString</key>            <string>@VBOX_PRODUCT@ Manager @VBOX_VERSION_STRING@, © 2007-@VBOX_C_YEAR@ @VBOX_VENDOR@</string>
    <key>CFBundleIconFile</key>                 <string>virtualbox</string>
    <key>CFBundleInfoDictionaryVersion</key>    <string>6.0</string>
    <key>LSCanProvideIMVideoDataSource</key>    <false/>
    <key>NSHighResolutionCapable</key>          <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
    <key>NSCameraUsageDescription</key>         <string>VirtualBox needs camera access for emulated webcam passthrough</string>
    <key>NSMicrophoneUsageDescription</key>     <string>VirtualBox needs microphone access for guest audio input</string>
    <key>CFBundleDocumentTypes</key>
    <array>
     <dict>
      <key>CFBundleTypeName</key>               <string>VirtualBox Extension Pack</string>
      <key>CFBundleTypeExtensions</key>         <array><string>vbox-extpack</string></array>
      <key>CFBundleTypeRole</key>               <string>Viewer</string>
      <key>LSHandlerRank</key>                  <string>Owner</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualbox-vbox-extpack</string>
     </dict>
     <dict>
      <key>CFBundleTypeName</key>               <string>Open Virtualization Format</string>
      <key>CFBundleTypeExtensions</key>         <array><string>ovf</string></array>
      <key>CFBundleTypeRole</key>               <string>Viewer</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualbox-ovf</string>
     </dict>
     <dict>
      <key>CFBundleTypeName</key>               <string>Open Virtualization Format Archive</string>
      <key>CFBundleTypeExtensions</key>         <array><string>ova</string></array>
      <key>CFBundleTypeRole</key>               <string>Viewer</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualbox-ova</string>
     </dict>
     <dict>
      <key>CFBundleTypeName</key>               <string>Virtual Disk Image</string>
      <key>CFBundleTypeExtensions</key>         <array><string>vdi</string></array>
      <key>CFBundleTypeRole</key>               <string>None</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualbox-vdi</string>
     </dict>
     <dict>
      <key>CFBundleTypeName</key>               <string>Virtual Machine Disk Format</string>
      <key>CFBundleTypeExtensions</key>         <array><string>vmdk</string></array>
      <key>CFBundleTypeRole</key>               <string>None</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualbox-vmdk</string>
     </dict>
     <dict>
      <key>CFBundleTypeName</key>               <string>Virtual Hard Disk</string>
      <key>CFBundleTypeExtensions</key>         <array><string>vhd</string></array>
      <key>CFBundleTypeRole</key>               <string>None</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualbox-vhd</string>
     </dict>
     <dict>
      <key>CFBundleTypeName</key>               <string>Virtual Hard Disk</string>
      <key>CFBundleTypeExtensions</key>         <array><string>hdd</string></array>
      <key>CFBundleTypeRole</key>               <string>None</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualbox-hdd</string>
     </dict>
    </array>
</dict>
</plist>
