<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>              <string>APPL</string>
    <key>CFBundleSignature</key>                <string>VBVM</string>
    <key>CFBundleDevelopmentRegion</key>        <string>English</string>
    <key>CFBundleIdentifier</key>               <string>org.virtualbox.app.VirtualBoxVM</string>
    <key>CFBundleName</key>                     <string>VirtualBox VM</string>
    <key>CFBundleExecutable</key>               <string>VirtualBoxVM</string>
    <key>CFBundleVersion</key>                  <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>CFBundleShortVersionString</key>       <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>CFBundleGetInfoString</key>            <string>@VBOX_PRODUCT@ @VBOX_VERSION_STRING@, © 2007-@VBOX_C_YEAR@ @VBOX_VENDOR@</string>
    <key>CFBundleIconFile</key>                 <string>virtualbox</string>
    <key>CFBundleInfoDictionaryVersion</key>    <string>6.0</string>
    <key>LSCanProvideIMVideoDataSource</key>    <true/>
    <key>NSHighResolutionCapable</key>          <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
    <key>NSCameraUsageDescription</key>         <string>VirtualBox needs camera access for emulated webcam passthrough</string>
    <key>NSMicrophoneUsageDescription</key>     <string>VirtualBox needs microphone access for guest audio input</string>
</dict>
</plist>
