<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>              <string>APPL</string>
    <key>CFBundleSignature</key>                <string>VMST</string>
    <key>CFBundleDevelopmentRegion</key>        <string>English</string>
    <key>CFBundleIdentifier</key>               <string>org.virtualbox.app.vmstarter</string>
    <key>CFBundleName</key>                     <string>vmstarter</string>
    <key>CFBundleExecutable</key>               <string>vmstarter</string>
    <key>CFBundleVersion</key>                  <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>CFBundleShortVersionString</key>       <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>CFBundleGetInfoString</key>            <string>@VBOX_PRODUCT@ vmstarter @VBOX_VERSION_STRING@, © 2007-@VBOX_C_YEAR@ @VBOX_VENDOR@</string>
    <key>CFBundleIconFile</key>                 <string>virtualbox</string>
    <key>CFBundleInfoDictionaryVersion</key>    <string>6.0</string>
    <key>LSUIElement</key>                      <true/>
    <key>NSHighResolutionCapable</key>          <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
    <key>CFBundleDocumentTypes</key>
    <array>
     <dict>
      <key>CFBundleTypeName</key>               <string>VirtualBox Machine Definition</string>
      <key>CFBundleTypeExtensions</key>         <array><string>vbox</string></array>
      <key>CFBundleTypeRole</key>               <string>Editor</string>
      <key>LSHandlerRank</key>                  <string>Owner</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualbox-vbox</string>
     </dict>
    </array>
</dict>
</plist>
