/* $Id: VBoxWebSrv.rc $ */
/** @file
 * VBoxWebSrv - Resource file containing version info and icon.
 */

/*
 * Copyright (C) 2015-2023 Oracle and/or its affiliates.
 *
 * This file is part of VirtualBox base platform packages, as
 * available from https://www.virtualbox.org.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, in version 3 of the
 * License.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, see <https://www.gnu.org/licenses>.
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */

#include <windows.h>
#include <VBox/version.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
  FILEVERSION      VBOX_RC_FILE_VERSION
  PRODUCTVERSION   VBOX_RC_FILE_VERSION
  FILEFLAGSMASK    VS_FFI_FILEFLAGSMASK
  FILEFLAGS        VBOX_RC_FILE_FLAGS
  FILEOS           VBOX_RC_FILE_OS
  FILETYPE         VBOX_RC_TYPE_APP
  FILESUBTYPE      VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0" // Lang=US English, CharSet=Unicode
    BEGIN
      VALUE "FileDescription",  "VirtualBox Web Service\0"
      VALUE "InternalName",     "VBoxWebSrv\0"
      VALUE "OriginalFilename", "VBoxWebSrv.exe\0"
      VALUE "CompanyName",      VBOX_RC_COMPANY_NAME
      VALUE "FileVersion",      VBOX_RC_FILE_VERSION_STR
      VALUE "LegalCopyright",   VBOX_RC_LEGAL_COPYRIGHT
      VALUE "ProductName",      VBOX_RC_PRODUCT_NAME_STR
      VALUE "ProductVersion",   VBOX_RC_PRODUCT_VERSION_STR
      VBOX_RC_MORE_STRINGS
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
