<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>        <string>English</string>
    <key>CFBundleExecutable</key>               <string>VBoxGuest</string>
    <key>CFBundleIdentifier</key>               <string>org.virtualbox.kext.VBoxGuest</string>
    <key>CFBundleInfoDictionaryVersion</key>    <string>6.0</string>
    <key>CFBundleName</key>                     <string>VBoxGuest</string>
    <key>CFBundlePackageType</key>              <string>KEXT</string>
    <key>CFBundleSignature</key>                <string>????</string>
    <key>NSHumanReadableCopyright</key>         <string>Copyright © 2007-@VBOX_C_YEAR@ @VBOX_VENDOR@</string>
    <key>CFBundleGetInfoString</key>            <string>@VBOX_PRODUCT@ @VBOX_VERSION_STRING@, © 2007-@VBOX_C_YEAR@ @VBOX_VENDOR@</string>
    <key>CFBundleVersion</key>                  <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>CFBundleShortVersionString</key>       <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>OSBundleCompatibleVersion</key>        <string>@VBOX_VERSION_MAJOR@.@VBOX_VERSION_MINOR@.@VBOX_VERSION_BUILD@</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>VBoxGuest</key>
        <dict>
            <key>CFBundleIdentifier</key>       <string>org.virtualbox.kext.VBoxGuest</string>
            <key>IOClass</key>                  <string>org_virtualbox_VBoxGuest</string>
            <key>IOMatchCategory</key>          <string>org_virtualbox_VBoxGuest</string>
            <key>IOUserClientClass</key>        <string>org_virtualbox_VBoxGuestClient</string>
            <key>IOKitDebug</key>               <integer>65535</integer>
            <key>IOProviderClass</key>          <string>IOPCIDevice</string>
            <key>IOPCIPrimaryMatch</key>        <string>0xcafe80ee</string>
            <!-- <key>IONameMatch</key>              <string>pci80ee,cafe</string> -->
        </dict>
    </dict>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.iokit.IOPCIFamily</key>  <string>2.5</string> <!-- TODO: Figure the version in mac os x 10.4. -->
        <key>com.apple.kpi.bsd</key>            <string>8.0.0</string>
        <key>com.apple.kpi.mach</key>           <string>8.0.0</string>
        <key>com.apple.kpi.libkern</key>        <string>8.0.0</string>
        <key>com.apple.kpi.unsupported</key>    <string>8.0.0</string>
        <key>com.apple.kpi.iokit</key>          <string>8.0.0</string>
    </dict>
    <key>OSBundleLibraries_x86_64</key>
    <dict>
        <key>com.apple.iokit.IOPCIFamily</key>  <string>2.6</string>
        <key>com.apple.kpi.bsd</key>            <string>10.0.0d4</string>
        <key>com.apple.kpi.mach</key>           <string>10.0.0d3</string>
        <key>com.apple.kpi.libkern</key>        <string>10.0.0d3</string>
        <key>com.apple.kpi.iokit</key>          <string>10.0.0d3</string>
        <key>com.apple.kpi.unsupported</key>    <string>10.0.0d3</string>
    </dict>
</dict>
</plist>

