/* $Id: TemplateDrv.rc $ */
/** @file
 * Resource file template for a driver.
 */

/*
 * Copyright (C) 2015-2023 Oracle and/or its affiliates.
 *
 * This file is part of VirtualBox base platform packages, as
 * available from https://www.virtualbox.org.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, in version 3 of the
 * License.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, see <https://www.gnu.org/licenses>.
 *
 * The contents of this file may alternatively be used under the terms
 * of the Common Development and Distribution License Version 1.0
 * (CDDL), a copy of it is provided in the "COPYING.CDDL" file included
 * in the VirtualBox distribution, in which case the provisions of the
 * CDDL are applicable instead of those of the GPL.
 *
 * You may elect to license modified versions of this file under the
 * terms and conditions of either the GPL or the CDDL or both.
 *
 * SPDX-License-Identifier: GPL-3.0-only OR CDDL-1.0
 */


/*******************************************************************************
*   Defined Constants And Macros                                               *
*******************************************************************************/
/* Validate input and deal with optional input. */
/** @def IN_FILE_DESCRIPTION
 * The file description string.
 */
#ifndef IN_FILE_DESCRIPTION
# error "Must define the IN_FILE_DESCRIPTION string!"
#endif
/** @def IN_INTERNAL_NAME
 * The internal name string, optional (requires IN_FILE_BASENAME then).
 */
#ifndef IN_INTERNAL_NAME
# ifndef IN_FILE_BASENAME
#  error "Must define the IN_FILE_BASENAME or the IN_INTERNAL_NAME string!"
# endif
# define IN_INTERNAL_NAME IN_FILE_BASENAME
#endif
/** @def IN_ORIGINAL_NAME
 * The original name string, optional (requires IN_FILE_BASENAME then).
 */
#ifndef IN_ORIGINAL_NAME
# ifndef IN_FILE_BASENAME
#  error "Must define the IN_FILE_BASENAME or the IN_ORIGINAL_NAME string!"
# endif
# define IN_ORIGINAL_NAME IN_FILE_BASENAME " .dll"
#endif
/** @def IN_PRODUCT_NAME
 * The product name string, optional.
 */
#ifndef IN_PRODUCT_NAME
# ifdef IN_GUEST
#  define IN_PRODUCT_NAME VBOX_RC_PRODUCT_NAME_GA
# elif defined(VBOX_IN_PUEL_EXTPACK)
#  define IN_PRODUCT_NAME VBOX_RC_PRODUCT_NAME_PUEL_EXTPACK
# elif defined(VBOX_IN_DTRACE_EXTPACK)
#  define IN_PRODUCT_NAME VBOX_RC_PRODUCT_NAME_DTRACE_EXTPACK
# else
#  define IN_PRODUCT_NAME VBOX_RC_PRODUCT_NAME
# endif
#endif
#ifndef IN_FILE_SUBTYPE /* optional */
# define IN_FILE_SUBTYPE VFT2_UNKNOWN
#endif


/*******************************************************************************
*   Header Files                                                               *
*******************************************************************************/
#include <Windows.h>
#include <VBox/version.h>


LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifdef IN_ICON_FILE
IDI_ICON1 ICON IN_ICON_FILE
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VBOX_RC_FILE_VERSION
PRODUCTVERSION  VBOX_RC_FILE_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VBOX_RC_FILE_FLAGS
FILEOS          VBOX_RC_FILE_OS
FILETYPE        VBOX_RC_TYPE_DRV
FILESUBTYPE     IN_FILE_SUBTYPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" /* Lang=US English, CodePage=utf-16 */
        BEGIN
            VALUE "FileDescription",  IN_FILE_DESCRIPTION "\0"
            VALUE "InternalName",     IN_INTERNAL_NAME "\0"
            VALUE "OriginalFilename", IN_ORIGINAL_NAME "\0"
            VALUE "CompanyName",      VBOX_RC_COMPANY_NAME "\0"
            VALUE "FileVersion",      VBOX_RC_FILE_VERSION_STR
            VALUE "LegalCopyright",   VBOX_RC_LEGAL_COPYRIGHT
            VALUE "ProductName",      IN_PRODUCT_NAME
            VALUE "ProductVersion",   VBOX_RC_PRODUCT_VERSION_STR
            VBOX_RC_MORE_STRINGS
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200 /* Lang=US English, CodePage=utf-16 */
    END
END

