<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>  <false/>
    <key>RunAtLoad</key> <true/>
    <key>KeepAlive</key> <true/>
    <key>Label</key>     <string>org.virtualbox.additions.vboxservice</string>

    <key>ProgramArguments</key>
        <array>
            <string>/Library/Application Support/VirtualBox Guest Additions/VBoxServiceWrapper</string>
        </array>
</dict>
</plist>
