Source: libtpms
Maintainer: Stefan Berger <stefanb@linux.vnet.ibm.com>
Section: libs
Priority: optional
Standards-Version: 4.5.1
Rules-Requires-Root: no
Build-Depends: debhelper (>= 10),
               dh-exec,
               gawk,
               libssl-dev,
               libtool,
               pkg-config

Package: libtpms-dev
Architecture: any
Section: libdevel
Depends: libtpms0 (= ${binary:Version}),
         ${misc:Depends}
Description: libtpms header files and man pages
 The libtpms-dev package provides header files and man pages for the
 functions provided by libtpms.

Package: libtpms0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: openssl,
         ${misc:Depends},
         ${shlibs:Depends}
Description: TPM emulation library
 Libtpms is a library that provides TPM functionality.
