<?xml version="1.0"?>
<!--
    VirtualBox Windows Installation Script (WiX)
-->
<!--
    Copyright (C) 2006-2023 Oracle and/or its affiliates.

    This file is part of VirtualBox base platform packages, as
    available from https://www.virtualbox.org.

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation, in version 3 of the
    License.

    This program is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, see <https://www.gnu.org/licenses>.

    SPDX-License-Identifier: GPL-3.0-only
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:difxapp="http://schemas.microsoft.com/wix/DifxAppExtension">

    <?include Defines.wxi ?>

    <Module Id="msm_VBoxUSB"
            Language="!(loc.LANG)"
            Version="$(var.Property_Version)">

        <Package Id="b8f1b6f4-2e92-40a6-b819-782e523b20ab"
                 Keywords="Installer, Setup"
                 Description="$(env.VBOX_PRODUCT) $(var.Property_VersionExt) USB drivers installation package"
                 Comments="$(env.VBOX_PRODUCT) USB drivers installation package"
                 Manufacturer="$(env.VBOX_VENDOR)"
                 InstallerVersion="200"
                 AdminImage="yes"
                 InstallPrivileges="elevated"
                 Platform="$(var.Property_Platform)"
                 SummaryCodepage="1252"/>

        <?include CommonProperties.wxi ?>
        <?include PublicProperties.wxi ?>

        <!-- Here comes the file/directory list -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="msm_VBoxUSBFolder" FileSource=".">

                <?include VBoxMergeUSB.wxi ?>

            </Directory> <!-- msm_VBoxUSBFolder -->
        </Directory> <!-- TARGETDIR -->

    </Module>
</Wix>
